<!DOCTYPE html>
<html lang="en">

<head>
  <title>Friend Forum</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/lumen/bootstrap.min.css">
  	<link rel="shortcut icon" href="../../public/Images/favicon.ico" type="image/x-icon">

  <link href="css/style.css" rel="stylesheet">
  <link href="css/login.css" rel="stylesheet">
  <link href="css/signup.css" rel="stylesheet">
    <link href="css/about.css" rel="stylesheet">
  <link href="css/ionicons.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Caveat|Dosis:300,600|Indie+Flower" rel="stylesheet">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.16.0/moment.min.js"></script>
  <script src="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"></script>

</head>

<body>
  {{{ body }}}

</body>

</html>
