<div class="wrapper">
  <nav class="navbar navbar-default">
      <div class="navbar-header" id="login-navbar-header">
        <a class="navbar-brand" href="/">
          <div id="logo">
            <h2 id="logo-txt">FF</h2>
          </div>
        </a>
        <h1>About Us</h1>
      </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <h1>Andrew Apicello</h1>
        <h4>Email: <a href="mailto:andrew.apicello@gmail.com">andrew.apicello@gmail.com</a></h4>
        <h4>Find me on <u><a href="https://github.com/andrew-apicello">Github</a></u></h4>
      </div>
      <br>
      <div class="col-md-5">
        <h1>Ben Danis</h1>
        <h4>Email: <a href="mailto:super.bd96@gmail.com">super.bd96@gmail.com</a></h4>
        <h4>Find me on <u><a href="https://github.com/benjaminDanis">Github</a></u></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-5">
        <h1>Kaitlyn Folsom</h1>
        <h4>Email: <a href="mailto:kaitlynmfolsom@gmail.com">kaitlynmfolsom@gmail.com</a></h4>
        <h4>Find me on <u><a href="https://github.com/Jewel0106">Github</a></u></h4>
      </div>
      <br>
      <div class="col-md-5">
        <h1>Alexander Paulino</h1>
        <h4>Email: <a href="mailto:apaulino127@gmail.com">apaulino127@gmail.com</a></h4>
        <h4>Find me on <u><a href="https://github.com/alexanderpaulino">Github</a></u></h4>
      </div>
    </div>
  </div>

    <div class="push"></div>

</div> {{!-- End Wrapper --}}

    <footer>
        Friend Forum &copy; 2017
    </footer>

<script type="text/javascript" src="js/login.js"></script>