<div class="about-container">

<button class="btn btn-link return-btn" type="button"><a href="/login"><i class="ion-chevron-left"></i> Go Back</a></button>

  <div class="row">
    <h1>About Us</h1>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <h2>Andrew Apicello</h2>
        <p>Email: <a href="mailto:andrew.apicello@gmail.com">andrew.apicello@gmail.com</a></p>
        <p>Find me on <a href="https://github.com/andrew-apicello">Github</a></p>
    </div>
    <div class="col-md-5">
      <h2 class="style-dark">Ben Danis</h2>
        <p class="style-dark green">Email: <a href="mailto:super.bd96@gmail.com">super.bd96@gmail.com</a></p>
        <p class="style-dark green">Find me on <a href="https://github.com/benjaminDanis">Github</a></p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6  col-md-offset-1">
      <h2>Kaitlyn Folsom</h2>
      <p>Email: <a href="mailto:kaitlynmfolsom@gmail.com">kaitlynmfolsom@gmail.com</a></p>
      <p>Find me on <a href="https://github.com/Jewel0106">Github</a></p>
    </div> 
    <div class="col-md-5">
      <h2 class="style-dark">Alexander Paulino</h2>
      <p class="style-dark white">Email: <a href="mailto:apaulino127@gmail.com">apaulino127@gmail.com</a></p>
      <p class="style-dark white">Find me on <a href="https://github.com/alexanderpaulino">Github</a></p>
    </div>
  </div>

  <div class="push"></div>
</div>
    <footer class="footer">
        Friend Forum &copy; 2017
    </footer>



<script type="text/javascript" src="js/login.js"></script>
