
{{!-- <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> --}}
        {{!-- <img alt="Brand" src=""> --}}
      {{!-- </a>
    </div>
    <form class="login login-form form-inline navbar-form navbar-right">
      <div class="form-group mb-2">
        <label for="exampleInputEmail1" class="sr-only">Email</label>
        <input type="email" class="form-control" id="email-input" placeholder="Email">
      </div>
      <div class="form-group mx-sm-3 mb-2">
        <label for="exampleInputPassword1" class="sr-only">Password</label>
        <input type="password" class="form-control" id="password-input" placeholder="Password">
      </div>
      <button type="submit" class="btn btn-default mb-2" id="login-btn">Login</button>
      <p>No account? Register <a href="/signup">here</a></p>
    </form>
  </div>
</nav> --}}

<div class="login-container">
  <div class="wrapper">
    <div class="col-lg-6">
      <h1>Welcome to Friend Forum</h1>
    </div>
    <div class="col-lg-6">
      <form class="login login-form form-inline navbar-form navbar-right">
        <div class="form-group mb-2">
          <label for="exampleInputEmail1" class="sr-only">Email</label>
          <input type="email" class="form-control" id="email-input" placeholder="Email">
        </div>
        <div class="form-group mx-sm-3 mb-2">
          <label for="exampleInputPassword1" class="sr-only">Password</label>
          <input type="password" class="form-control" id="password-input" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-default mb-2" id="login-btn">Login</button>
        <p>No account? Register <a href="/signup">here</a></p>
      </form>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="about-list">
					<i class="ion-chatbubbles"></i>
					Professional discussions
				</div>
				<div class="about-list">
					<i class="ion-ios-list"></i>
					Relevant news headlines
				</div>
				<div class="about-list">
					<i class="ion-paper-airplane"></i>
					Instantly share your thoughts
				</div>
      </div>     

      <div class="col-lg-6">
        <div class="login-interests">
          <div class="row interest-row-1">
            <button class="topics" id="interest1"></button>
            <button class="topics" id="interest2"></button>
          </div>
          <div class="row interest-row-2">
            <button class="topics" id="interest3"></button>
            <button class="topics" id="interest4"></button>
          </div>
          <div class="row interest-row-3">
            <button class="topics" id="interest5"></button>
            <button class="topics" id="interest6"></button>
          </div>
          <div class="row interest-row-4">
            <button class="topics" id="interest7"></button>
            <button class="topics" id="interest8"></button>
          </div>
        </div><!-- End selector -->
      </div>
    </div>

    <div class="push"></div>

  </div> {{!-- End Wrapper --}}

  <footer>
      Friend Forum &copy; 2017
      <a href="/about">About Us</a>
  </footer>
</div>

<script type="text/javascript" src="js/login.js"></script>
