<div class="wrapper">

  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        {{!-- <img alt="Brand" src="..."> --}}
        Friend Forum
      </a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li class="active"><a href="/members"><span class="member-name" id="navbar-name"></span></a></li>
      <li class="active"><a href="/logout" id="logout-btn">Logout</a></li>
     </ul>     
  </div>
</nav>

  <!-- ============= START PROFILE BODY ================== -->

<div class="row profile-body">
  <div class="col-lg-6 col-md-6 col-sm-6">

    <div id="member-info">
      <div class="row">
        <div class="col-lg-5">
          <img class="member-image"/>
          <a class="btn" data-toggle="modal" data-target="#myModal" id="edit-btn">Edit Interests</a>
        </div>
        <div class="col-md-6 member-info">
          <h5 id="user-name"><span class="member-name"></span></h5>
          <p><strong>Location: </strong><span class="member-location" id="member-location"></span>, USA</p>
          <hr />
          <p><strong>Occupation: </strong><span class="member-occupation" id="member-occupation"></span></p>
          <hr />
          <p><strong>Bio: </strong><span class="member-bio"></span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="panel panel-default" id="feed-container">
      <div class="panel-heading" id="feed-heading">
        <h6>My Feed</h6>
      </div>
        <div class="panel-body" id="feed">
          <div id="post-area">
          </div>
        </div>
      <div class="panel-footer feed-footer">
        <div class="input-group">
          <input type="text" name="post-field" class="form-control" id="post-field">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" id="post-submit">POST</button>
          </span>
        </div>
      </div>
  </div> <!-- End col -->
</div> <!-- End Row -->

<div class="row interest-row">
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest1"><span class="member-interest1" id="member-interest1"></span></button>
  </div>
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest2"><span class="member-interest2" id="member-interest2"></span></button>
  </div>
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest3"><span class="member-interest3" id="member-interest3"></span></button>
  </div>
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest4"><span class="member-interest4" id="member-interest4"></span></button>
  </div>
</div>

<div class="row">
  <div class="col-lg-7">
    
    <div class="panel panel-default" id="toggle-panel">
      <div class="panel-heading" id="top-headlines">
      </div>
      <div class="panel-body" id="articleDropdown">
        <div id="articleOne" class="well"></div>
        <div id="articleTwo" class="well"></div>
        <div id="articleThree" class="well"></div> 
      </div>
    </div>
  </div> 

  <div class="col-lg-5">
    <div class="row">
      <div class="col-lg-11" id="linkBoxContainer">

        <div class="panel panel-default" id="linkBox">
          <div class="panel-heading">
            <h3 id="link-header">Recently Shared</h3>
          </div>
            <div class="panel-body" id="link-repoPanel">
              <div class="well" id="link-repo">
              </div>
            </div>
          <div class="panel-footer" id="linkSearchPanel">
            <form action="" id="linkForm">
              <input id="link-repo-searchbar" autocomplete="off" placeholder="search"/>
              <button class="btn btn-default" id="searchMsgBtn">Search</button>
            </form>
          </div>
        </div>
      </div> <!-- End col -->
    </div> <!-- End Row -->

    <div class="row">
      <div class="col-lg-11" id="chatBox">
        <ul id="messages"></ul>
          <form action="" id="chatForm">
            <input id="sendMessage" autocomplete="off"/>
            <button class="btn btn-default" id="sendButton">Send</button>
          </form>
      </div>
    </div>

  </div> <!-- End col -->
</div> <!-- End Row -->

</div> <!-- End Row -->

 <div class="push"></div>

</div> <!-- End Wrapper -->

    <footer>
        Friend Forum &copy; 2017
        <a href="/about">About Us</a>
    </footer>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Interests</h4>
                  </div>
                  <div class="modal-body">
                    <div class="w3-container">
                      <div class="w3-dropdown-hover">
                        <button class="w3-button w3-black member-interest1"  id="member-interest1"></button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                          <option class="interestEditOne" type="button" data-dismiss="modal">Business</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Entertainment</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Gaming</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Music</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Politics</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Science and Nature</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Sports</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Technology</option>
                        </div>
                      </div>
                      <div class="w3-dropdown-hover">
                        <button class="w3-button w3-black member-interest2 interestEdit"  id="member-interest2"></button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                        <option class="interestEditTwo" type="button" data-dismiss="modal">Business</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Entertainment</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Gaming</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Music</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Politics</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Science and Nature</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Sports</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Technology</option>
                        </div>
                      </div>
                      <div class="w3-dropdown-hover">
                        <button class="w3-button w3-black member-interest3 interestEdit"  id="member-interest3"></button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                         <option class="interestEditThree" type="button" data-dismiss="modal">Business</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Entertainment</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Gaming</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Music</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Politics</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Science and Nature</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Sports</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Technology</option>
                       </div>
                     </div>
                     <div class="w3-dropdown-hover">
                      <button class="w3-button w3-black member-interest4 interestEdit"  id="member-interest4"></button>
                      <div class="w3-dropdown-content w3-bar-block w3-border">
                        <option class="interestEditFour" type="button" data-dismiss="modal">Business</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Entertainment</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Gaming</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Music</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Politics</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Science and Nature</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Sports</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Technology</option>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>

<div class="modal fade" id="search-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="modal-search">
        <p>UNDER CONSTRUCTION</p>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="js/APIs.js"></script>
  <script type="text/javascript" src="js/Customize_Interests.js"></script>
