<div class="wrapper">

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          Friend Forum
        </a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="/members"><span class="member-name" id="navbar-name"></span></a></li>
        <li class="active"><a href="/logout" id="logout-btn">Logout</a></li>
      </ul>     
    </div>
  </nav>

<div class="row profile-body">
  <div class="col-lg-6 col-md-6 col-sm-6">

    <div id="member-info">
      <div class="row">
        <div class="col-lg-5">
          <img class="member-image"/>
          <a class="btn" data-toggle="modal" data-target="#myModal" id="edit-btn">Edit Interests</a>
        </div>
        <div class="col-md-6 member-info">
          <h5 id="user-name"><span class="member-name"></span></h5>
          <p><strong>Location: </strong><span class="member-location" id="member-location"></span>, USA</p>
          <hr />
          <p><strong>Occupation: </strong><span class="member-occupation" id="member-occupation"></span></p>
          <hr />
          <p><strong>Bio: </strong><span class="member-bio"></span></p>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-5 col-md-5 col-sm-5">
    <div class="panel" id="feed-container">
      <div class="feed-heading">
        <h5>My Feed</h5>
      </div>
      <div class="panel-body feed">
        <div id="post-area"></div>
      </div>
      <div class="feed-footer">
        <form action="" id="feedForm">
          <input type="text" id="post-field" name="post-field" autocomplete="off" />
          <button class="btn" id="post-submit">Post</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row interest-row">
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest1"><span class="member-interest1" id="member-interest1"></span></button>
  </div>
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest2"><span class="member-interest2" id="member-interest2"></span></button>
  </div>
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest3"><span class="member-interest3" id="member-interest3"></span></button>
  </div>
  <div class="col-md-3 interests">
    <button href="#" class="flip" id="interest4"><span class="member-interest4" id="member-interest4"></span></button>
  </div>
</div>

<div class="row" id="toggle-panel">
  <div class="col-lg-7 headlines-section">    
    <div id="top-headlines"></div>
      <div id="articleDropdown">
        <div id="articleOne" class="well headline-well"></div>
          <div class="line-break"></div>
        <div id="articleTwo" class="well headline-well"></div>
          <div class="line-break"></div>
        <div id="articleThree" class="well headline-well"></div> 
      </div>
  </div> 

  <div class="col-lg-5">  
    <div class="panel" id="linkBox">
      <div id="link-header">
        <h5>Recently Shared</h5>
      </div>
      <div id="link-repoPanel">
        <div class="well" id="link-repo"></div>
      </div>
      <div class="link-chat-footer" id="linkSearchPanel">
        <form action="" id="linkForm">
          <input id="link-repo-searchbar" autocomplete="off" placeholder="Search recently shared links"/>
          <button class="btn" id="searchMsgBtn">Search</button>
        </form>
      </div>
    </div>

    <div class="panel" id="chatBox">
      <div id="chat-header">
        <h5>Chat</h5>
      </div>
      <div id="link-repoPanel">
        <div class="well" id="chat-repo">
          <ul id="messages"></ul>
        </div>
      </div>
      <div class="link-chat-footer">
        <form action="" id="chatForm">
          <input id="sendMessage" autocomplete="off" placeholder="Send"/>
          <button class="btn" id="sendButton">Send</button>
        </form>
      </div>
    </div>

  </div>
</div> 

 <div class="push"></div>

</div> <!-- End Wrapper -->

<footer class="footer">
    Friend Forum &copy; 2017
    <a href="/about">About Us</a>
</footer>


  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
      <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Interests</h4>
          </div>
          <div class="modal-body">
            <div class="w3-container">
              <div class="w3-dropdown-hover">
                <button class="w3-button member-interest1 interest-edit" id="member-interest1"></button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Business</a>
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Entertainment</a>
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Gaming</a>
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Music</a>
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Politics</a>
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Science and Nature</a>
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Sports</a>
                  <a href="#" class="w3-bar-item w3-button interestEditOne" data-dismiss="modal">Technology</a>
                </div>
              </div>
              <div class="w3-dropdown-hover">
                <button class="w3-button member-interest2 interest-edit" id="member-interest2"></button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Business</a>
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Entertainment</a>
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Gaming</a>
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Music</a>
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Politics</a>
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Science and Nature</a>
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Sports</a>
                  <a href="#" class="w3-bar-item w3-button interestEditTwo" data-dismiss="modal">Technology</a>
                </div>
              </div>
              <div class="w3-dropdown-hover">
                <button class="w3-button member-interest3 interest-edit" id="member-interest3"></button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Business</a>
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Entertainment</a>
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Gaming</a>
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Music</a>
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Politics</a>
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Science and Nature</a>
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Sports</a>
                  <a href="#" class="w3-bar-item w3-button interestEditThree" data-dismiss="modal">Technology</a>
                </div>
              </div>
              <div class="w3-dropdown-hover">
                <button class="w3-button member-interest4 interest-edit" id="member-interest4"></button>
                <div class="w3-dropdown-content w3-bar-block w3-border">
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Business</a>
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Entertainment</a>
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Gaming</a>
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Music</a>
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Politics</a>
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Science and Nature</a>
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Sports</a>
                  <a href="#" class="w3-bar-item w3-button interestEditFour" data-dismiss="modal">Technology</a>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>

{{!-- <div class="modal fade" id="search-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="modal-search">
        <p>UNDER CONSTRUCTION</p>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> --}}

  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="js/APIs.js"></script>
  <script type="text/javascript" src="js/Customize_Interests.js"></script>
