<div class="wrapper">
  <nav class="navbar navbar-default">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/members">
      <div id="logo">
        <h1 id="logo-txt">FF</h1>
      </div>
    </a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/members"><span class="member-name" id="navbar-name"></span></a></li>
      <li>
        <form class="navbar-form navbar-right" id="search-bar">
          <div class="form-group">
            <input type="text" class="form-control" id="user-search" placeholder="Search Users">
          </div>
          <button type="submit" class="btn btn-default" id="search-btn" data-toggle="modal" data-target="#search-modal">Search</button>
        </form>
      </li>
      <li>
        <a class="navbar-brand" href="/logout" id="logout-btn">Logout</a>
      </li>
     </ul>     
    </div><!-- /.navbar-collapse -->
  </nav> <!-- End header -->
</nav> <!-- End navigation -->

  <!-- ============= START PROFILE BODY ================== -->

    <div class="container">

      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body" id="member-info">
              <div class="row">
                <div class="col-lg-12">
                  <h1 id="user-name"><span class="member-name"></span></h1>
                </div>
              </div> <!-- End Row -->

              <div class="row">
                <div class="col-lg-5">
                  <img class="member-image"/>
                </div> <!-- End col -->

                <div class="col-lg-6">
                  <div class="well" id="member-well">
                  <h5><strong>Location: </strong><span class="member-location" id="member-location"></span></h5>
                  <hr />
                  <h5><strong>Occupation: </strong><span class="member-occupation" id="member-occupation"></span></h5>
                  <hr />
                  <h6><strong>Bio: </strong><span class="member-bio"></span></h6>
                </div>
                  <br>
                  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal" id="edit-btn">Edit Interests</button>
                </div>
              </div> <!-- End Row -->
            </div>
          </div>
        </div> <!-- End col -->

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="panel panel-default" id="feed-container">
            <div class="panel-heading" id="feed-heading">
              <h4>Global Feed</h4>
            </div>
              <div class="panel-body" id="feed">
                <div id="post-area">
                </div>
              </div>
            <div class="panel-footer" id="feed-footer">
              <div class="input-group" id="post-input">
                  <input type="text" name="post-field" class="form-control" id="post-field">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button" id="post-submit">POST</button>
                  </span>
              </div>
            </div>
        </div> <!-- End col -->
      </div> <!-- End Row -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <hr />
        <div class="interests">
          <button href="#" class="flip" id="interest1"><span class="member-interest1" id="member-interest1"></span></button>
          <button href="#" class="flip" id="interest2"><span class="member-interest2" id="member-interest2"></span></button>
          <button href="#" class="flip" id="interest3"><span class="member-interest3" id="member-interest3"></span></button>
          <button href="#" class="flip" id="interest4"><span class="member-interest4" id="member-interest4"></span></button>
        </div><!-- End selector -->
        <hr />
      </div> <!-- End col -->
    </div> <!-- End row -->


      <div class="row">
        <div class="col-lg-7">
          
          <div class="panel panel-default" id="toggle-panel">
            <div class="panel-heading" id="top-headlines">
            </div>
            <div class="panel-body" id="articleDropdown">
              <div id="articleOne" class="well"></div>
              <div id="articleTwo" class="well"></div>
              <div id="articleThree" class="well"></div> 
            </div>
          </div>
        </div> 

        <div class="col-lg-5">
          <div class="row">
            <div class="col-lg-11" id="linkBoxContainer">

              <div class="panel panel-default" id="linkBox">
                <div class="panel-heading">
                  <h3 id="link-header">Recently Shared</h3>
                </div>
                  <div class="panel-body" id="link-repoPanel">
                    <div class="well" id="link-repo">
                    </div>
                  </div>
                <div class="panel-footer" id="linkSearchPanel">
                  <form action="" id="linkForm">
                    <input id="link-repo-searchbar" autocomplete="off" placeholder="search"/>
                    <button class="btn btn-default" id="searchMsgBtn">Search</button>
                  </form>
                </div>
              </div>
            </div> <!-- End col -->
          </div> <!-- End Row -->

          <div class="row">
            <div class="col-lg-11" id="chatBox">
              <ul id="messages"></ul>
                <form action="" id="chatForm">
                  <input id="sendMessage" autocomplete="off"/>
                  <button class="btn btn-default" id="sendButton">Send</button>
                </form>
            </div>
          </div>

        </div> <!-- End col -->
      </div> <!-- End Row -->

    </div> <!-- End Row -->

  </div> <!-- End container -->

 <div class="push"></div>

</div> <!-- End Wrapper -->

    <footer>
        Friend Forum &copy; 2017
    </footer>

        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Edit Interests</h4>
                  </div>
                  <div class="modal-body">
                    <div class="w3-container">
                      <div class="w3-dropdown-hover">
                        <button class="w3-button w3-black member-interest1"  id="member-interest1"></button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                          <option class="interestEditOne" type="button" data-dismiss="modal">Business</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Entertainment</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Gaming</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Music</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Politics</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Science and Nature</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Sports</option>
                          <option class="interestEditOne" type="button" data-dismiss="modal">Technology</option>
                        </div>
                      </div>
                      <div class="w3-dropdown-hover">
                        <button class="w3-button w3-black member-interest2 interestEdit"  id="member-interest2"></button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                        <option class="interestEditTwo" type="button" data-dismiss="modal">Business</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Entertainment</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Gaming</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Music</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Politics</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Science and Nature</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Sports</option>
                          <option class="interestEditTwo" type="button" data-dismiss="modal">Technology</option>
                        </div>
                      </div>
                      <div class="w3-dropdown-hover">
                        <button class="w3-button w3-black member-interest3 interestEdit"  id="member-interest3"></button>
                        <div class="w3-dropdown-content w3-bar-block w3-border">
                         <option class="interestEditThree" type="button" data-dismiss="modal">Business</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Entertainment</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Gaming</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Music</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Politics</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Science and Nature</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Sports</option>
                         <option class="interestEditThree" type="button" data-dismiss="modal">Technology</option>
                       </div>
                     </div>
                     <div class="w3-dropdown-hover">
                      <button class="w3-button w3-black member-interest4 interestEdit"  id="member-interest4"></button>
                      <div class="w3-dropdown-content w3-bar-block w3-border">
                        <option class="interestEditFour" type="button" data-dismiss="modal">Business</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Entertainment</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Gaming</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Music</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Politics</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Science and Nature</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Sports</option>
                        <option class="interestEditFour" type="button" data-dismiss="modal">Technology</option>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          <!-- </div> -->
        </div>

<div class="modal fade" id="search-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="modal-search">
        <p>UNDER CONSTRUCTION</p>
      </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript" src="js/members.js"></script>
  <script type="text/javascript" src="js/APIs.js"></script>
  <script type="text/javascript" src="js/Customize_Interests.js"></script>