
.about-container {
  background: linear-gradient(120deg, #098f69 50%, #fff 50%);
  background-size:cover;
  background-repeat: no-repeat;
  height:100vh;
  margin:0;
}

.about-container h1 {
  margin:50px 0 0 100px;
  color:#fff;
  font-family: 'Caveat', cursive;
  font-size:500%;
}

.about-container h2 {
  margin:50px 0 10px 65px;
  color:#fff;
  font-family: 'Caveat', cursive;
  font-size:400%;
}

.about-container p {
  margin: 0 0 0 70px;
  color:#fff;
  font-size:150%;
}

.about-container a:hover {
  text-decoration: none;
  border-bottom:1px solid #eee;
  color:#fff;
}

.style-dark {
  color:#098f69 !important;
}

.style-dark a:hover {
  color:#098f69 !important;
  border-bottom:1px solid #098f69;
}

/* #return-btn:hover {
  border:0;
  color:#098f69;
  background-color:#fff;
} */

.return-btn {
  background-color:#fff;
  color:#098f69;
  margin: 20px 0 0 20px;
  border-radius:8px;
  border:1px solid #fff;
}

.return-btn:hover {
  background-color:#098f69;
  color:#fff;
  text-decoration:none;
  transition:background-color 0.2s, color 0.2s, border 0.2s;
  margin: 20px 0 0 20px;
 }

.return-btn a:hover {
 text-decoration:none;
 color:#fff;
}

.return-btn i {
 padding-right:3px;
}
