#about-btn {
  font-size:140%;
  color:white;
}

.signup-container {
  margin-bottom:50px;
}

.signup-container h1 {
  font-family: 'Caveat', cursive;
  color: #098f69;
  font-size:400%;
}

.info-section p {
  font-size:130%;
  line-height: 160%;
  text-align: justify;
}

#select:invalid {
  color: #C8C8C8;
}
