/* font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Caveat', cursive; */
*{
	padding:0;
	box-sizing:border-box;
  font-family: 'Alegreya Sans', sans-serif;
}

*:focus{
	outline:none;
}

html {
	color: #555;
	text-rendering: optimizeLegibility;
}

body{
	font-size:20px;
  margin:0;
}

.wrapper {
  height: auto !important;
  height: 100%;
  min-height: 100%;
}

.container {
  width: 100%;
  max-width: 1360px;
  margin: 60px auto 0px auto;
  clear: both;
}

.row {
  width:100%;
  margin:0;
}

/* ====================NAVBAR=====================*/

.navbar{
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid black;
  background-color:  #03A678;
  color:#fff;
  border-radius:0;
}

#navbar-name{
  font-size:30px;
  color:white;
}

#submit-btn{
  margin: 0 25px 0 5px;
}

#logout-btn{
  color: #3b3a30;
  font-size: 20px;
}

/* ============== User info section ===============*/
#member-info{
  background:#9bb3c6;
  padding: 10px 0 20px 30px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  min-height: 375px;
}

#user-name{
  font-size:40px;
  font-weight:450;
  color:white;
  padding-bottom:10px;
}

.member-image{
  width:250px;
  height: 250px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

#member-well{
  min-height:250px;
}

#edit-btn{
  float:right;
  font-size:10px;
}

/* =================FEED AREA======================*/
#feed-container{
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
border: 0px solid black;
}

#feed {
  height: 265px;
  overflow: scroll;
  padding:0px;
}

#feed-heading{
  background-color: #9bb3c6 !important; 
  color: white !important;
  text-align:center;
  background: white;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid black;
}

#feed-heading h4{
  color: white !important; 

}

.post{
  color: black
  padding: 0px 0px 4px 0px;
}

.post:nth-child(even) { 
  background-color: #dbdbdb; 
  padding: 0px 0px 4px 0px;
}

.post p{
  padding-top: 0px;
}

.post> *
{
  padding-left: 10px;    
}

#feed-footer{
  background: b-wekit-linear-gradient(bottom right, #026670), rgba(255, 255, 255, 1));
  background: -o-linear-gradient(bottom right, #31708e, #8Fc1e3);
  background: -moz-linear-gradient(bottom right, #31708e, #8Fc1e3);
  background: linear-gradient(to bottom right, #31708e, #8Fc1e3)
}

/* ===============INTEREST BUTTONS===================*/

.interests,
.interests button {
  /* font-family: 'Oswald', sans-serif; */
  /* font-weight: 300; */
}

.interests button {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
  border: 0;
  color: white;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
  margin: 40px 85px 50px 85px;
  background: none;
}

.interests button:hover { 
  background: #8Fc1e3; 
}

.interests button:focus { 
  outline: none; 
}

.interests{
  width:100%;

}

/* ========HIDE/SHOW PANEL ========*/

#toggle-panel {
  padding: 20px;
  display: none;
  float:left;
  margin-bottom: 2%;
  background-color:#9bb3c6 !important;
  position:relative;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
}

#top-headlines{
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid black;
    text-align:center;
}

/*======= CHATBOX ======*/


#linkBox{
  font: 13px;
  font-family: Helvetica, Arial;
  padding: 10px;
  height: 300px;

  max-height: 300px;
  display: none;
  margin: 0 0 30px 0;
  background-color: #9bb3c6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  border: 0px solid black;
    width:100%;
}

#linkSearchPanel{
  bottom: 0;
}

#linkBoxContainer{
  padding:0;
}

#link-repo{
  font: 13px;
  font-family: Helvetica, Arial;
  padding: 10px;
  margin: 0 0 10px 0;
  max-height: 135px;
  min-height:130px;
  overflow-y: scroll;
}

#link-repoPanel{
  padding: 10px 0px 0px 0px;
}

#link-header{
  text-align:center;  
}

#linkForm{
}

#linkForm input { 
  border: 0; 
  padding: 10px; 
  width: 80%;
}

#linkForm form button { 
  width: 40px; 
  padding: 10px; 
  display:inline-block;
}

#chatBox {
 font: 13px;
 font-family: Helvetica, Arial;
 background: white;
 padding: 10px;
 height: 300px;
 max-height: 290px;
 display: none;
 margin: 0;
border-radius:5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
}

#chatBox form {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
}

#chatBox form input { 
  border: 0; 
  padding: 10px; 
  width: 89%;
  border-top:solid 1px #ccc;
}

#chatBox form button { 
  width: 10%; 
  padding: 12px; 
}

#messages { 
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 85%; 
  overflow-y: scroll;
}

#messages li { 
  padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
  background: #eee; 
}

/*======= FOOTER ========*/
footer,
.push {
  height: 60px;
}

footer {
  height:50px;
  position:fixed;
  left:0;
  bottom:0;
  padding: 20px 0 0 0;
  width: 100%;
  clear: both;
  font-size: 90%;
  background-color:#eee;
  text-align: center;
  border: 0px solid black;
}

footer a {
  float:right;
  padding-right:50px;
}

footer a:hover {
  text-decoration: none;
  color:#03A678;
}

/*==========Button Animation==========*/

.flip {
  -webkit-transition:height .25s ease, width .25s ease;
  transition:height .25s ease, width .25s ease;
  
  -webkit-transform:translate(0%,0%);
  transform:translate(0%,0%);
  transition:0.5s
}

.flip:hover{
  background-color: #8Fc1e3;
  color: black;
  transition:0.5s;
}

.flip:before,
.flip:after {
  content:'';
  display:block;
  position:absolute;
  top:0; right:0; bottom:0; left:0;
  border-radius:50%;
  border:1px solid #8Fc1e3;
}

.flip:before {
  -webkit-animation: ripple 2s linear infinite;
  animation: ripple 2s linear infinite;
}
.flip:after {
  -webkit-animation: ripple 2s linear 1s infinite;
  animation: ripple 2s linear 1s infinite;
}

.flip:hover:before,
.flip:hover:after {
  -webkit-animation: none;
  animation: none;
}

@-webkit-keyframes ripple{
  0% {-webkit-transform:scale(1); }
  75% {-webkit-transform:scale(1.75); opacity:1;}
  100% {-webkit-transform:scale(2); opacity:0;}
}

@keyframes ripple{
  0% {transform:scale(1); }
  25% {transform:scale(1.25); opacity:1;}
  50% {transform:scale(1.5); opacity:0;}
}
